{% if site.enableTags ==  true %} 
	<div id="tag-filter" class="tag-group">
		<span class="tag-filter tag-cloud all active">All</span>
        {% assign tagarray = site.tagarray %}
        {% for project in site.data.projects %}
            {% for tag in project.tags %}
                {% assign tagarray = tagarray | push: tag %}
            {% endfor %}
        {% endfor %}

        {% assign tags = tagarray[1] %}
        {% for item in tagarray %}
            {% assign tagDown = item | downcase %}
            {% assign tagComp = tags | downcase %}
            {% unless tagComp contains tagDown %}
                {% capture tags %}{{ tags }}|{{ item }}{% endcapture %}
            {% endunless %}
        {% endfor %}

        {% assign taglist = tags | split: '|' | sort %}
        {% for tag in taglist %}
            <span class="tag-filter tag-cloud" data-tag="{{ tag | downcase }}">{{ tag }}</span>
        {% endfor %}
	</div>
{% endif %}