<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="/static/img/favicon.ico" />
        <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.author }}{% endif %}</title>
        <meta name="author" content="{{ site.author }}" />
        <meta name="description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.description }}{% endif %}" />
        <meta name="keywords" content="{% if page.title %}{{ page.title }}, {{ site.title }}, {% for categ in page.categories %}{{ categ }}{% if forloop.last == false %}, {% endif %}{% endfor %}{% else %}{{ site.title }}, {% for category in site.categories %}{% capture categories_slug %}{{ category | first }}{% endcapture %}{% for categ in categories_slug %}{{ categ }}{% endfor %}{% if forloop.last == false %}, {% endif %}{% endfor %}{% endif %}" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/static/css/syntax.css">

        <!-- Bootstrap core CSS -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Fonts -->
        <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:400,300italic,300,400italic,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">

        <!-- Custom CSS -->        
        <link rel="stylesheet" href="/static/css/super-search.css">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>

    <body>
        <div class="container">
            <div class="col-sm-3">
                <a href="/"><img id="about" src="/static/img/avatar.jpg" height="75px" width="75px" /></a>
                <h1 class="author-name">{{ site.author }}</h1>
                {% if site.about %}
                <div id="about">
                    {{ site.about }}
                </div>
                {% endif %}

                <hr />                
                <div class="search" id="js-search">
                  <input type="text" placeholder="(sitemap)~$ type to search" class="search__input form-control" id="js-search__input">
                  <ul class="search__results" id="js-search__results"></ul>
                </div>
                <hr />

                <strong>Navigation</strong><br />
                    &raquo; <a href="/">Home</a> <br />
                {% for i in site.urls %}
                    &raquo; <a class="about" href="{{ i.url }}">{{ i.text }}</a><br />
                {% endfor %}
            </div>

            <div class="col-sm-8 col-offset-1">
                {{ content }}

                <footer>
                    &copy; {{ site.author }}
                    {% if site.github %} 
                    - <a href="{{ site.github }}">{{ site.github }}</a> - Powered by Jekyll.
                    {% endif %}

                    <div class="btn-github" style="float:right;">
                        <iframe src="https://ghbtns.com/github-btn.html?user=agusmakmun&repo=agusmakmun.github.io&type=star&count=true" frameborder="0" scrolling="0" width="85" height="20px"></iframe>                    
                        <iframe src="https://ghbtns.com/github-btn.html?user=agusmakmun&repo=agusmakmun.github.io&type=fork&count=true" frameborder="0" scrolling="0" width="85" height="20px"></iframe>
                    </div>
                </footer>
            </div><!-- end /.col-sm-8 -->
        </div><!-- end /.container -->

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/super-search.js"></script>
    </body>
</html>
